.header{
    border: 1px solid rgb(245, 242, 242);
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 355px;
    margin-right: 370px;
}

.navBar {
    padding: 20px;
    font-weight: 400;
    color: #444;
    font-size: .9rem; 
}


#logo {
    font-weight: 600;
    padding-left: 30px;
    vertical-align: middle;
    top: 15px;
}

#image {
    padding-top: 90px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.b2 {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.class {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.text {
    color: #424242;
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    margin-bottom: 5px;
}

h5 {
    margin-top: 20px;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

button {
    margin-top: 10px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 30px;
}